.features__container {
  width: 1200px;
  padding-top: 94px;
}
.features-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}
.features-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  width: 270px;
  height: 120px;
}
.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.features-list__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}
