.team {
  align-items: center;
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  background-color: var(--background-second-color);
}
.team-list {
  display: flex;
  text-align: center;
  margin-left: -30px;
  margin-top: -30px;
}
.team-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.team-list__icon-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.team-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .team-list__icon-link:hover &,
  .team-list__icon-link:focus & {
    fill: var(--secondary-color);
  }
}
.team-list__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team-list__wrapper {
  padding: 30px 45px;
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-color);
}
.team-list__profession {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}
