:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --text-decoration-color: #757575;
  --title-color: #212121;
  --secondary-color: #ffffff;
  --footer-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
  --background-second-color: #f5f4fa;
  --section-pt: 94px;
  --section-pb: 94px;
  --icon-color: #afb1b8;
}
